{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmar Eliminación</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>Confirmar Eliminación</h1>
    <p>¿Estás seguro de que quieres eliminar la Herramienta de Desarrollo "{{ herramienta_desarrollo.no_inventario }}"?</p>
    <form action="{% url 'herramienta_desarrollo_delete' herramienta_desarrollo.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Eliminar">
    </form>
    <a href="{% url 'herramientas_desarrollo_list' %}">Cancelar</a>
</body>
</html>
