{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmar Eliminación</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>Confirmar Eliminación</h1>
    <p>¿Estás seguro de que quieres eliminar el Sistema de Información Movil "{{ sistema_informacion_movil.no_inventario }}"?</p>
    <form action="{% url 'sistema_informacion_movil_delete' sistema_informacion_movil.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Eliminar">
    </form>
    <a href="{% url 'sistemas_informacion_movil_list' %}">Cancelar</a>
</body>
</html>
