{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmar Eliminación</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>Confirmar Eliminación</h1>
    <p>¿Estás seguro de que quieres eliminar el Municipio ?</p>
    <form action="{% url ' municipio_delete' municipio.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Eliminar">
    </form>
    <a href="{% url 'municipios_list' %}">Cancelar</a>
</body>
</html>
