body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* Color de fondo del body */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 55px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form div {
    width: 48%; /* Para dos columnas con un pequeño espacio entre ellas */
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e7e4e4; /* Color de fondo de los inputs */
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
