.tabla-reporte {
    overflow-x: auto;
    width: 100%;
    background-color: #d9d9d9;
  }

  table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border-bottom: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    tr:last-child td {
        border-bottom: none;
    }

    /* Estilos para ocultar la tabla */
  .tabla-desactivada {
    display: none;
  }

     /* Estilo para el combo box */
     input {
        background-color: white; /* Fondo blanco */
        border: 1px solid #383737; /* Borde color #383737 */
        color: #383737; /* Texto color #383737 */
        border-radius: 10px; /* Borde redondeado */
        padding: 1px; /* Espaciado interno */
        font-size: 16px; /* Tamaño de fuente */
        width: 200px; /* Ancho del combo box, ajusta según necesites */
        height: 50px;
        margin: 30px;
    }

    /* Estilo para el combo box */
    select {
        background-color: white; /* Fondo blanco */
        border: 1px solid #383737; /* Borde color #383737 */
        color: #383737; /* Texto color #383737 */
        border-radius: 10px; /* Borde redondeado */
        padding: 8px; /* Espaciado interno */
        font-size: 16px; /* Tamaño de fuente */
        width: 200px; /* Ancho del combo box, ajusta según necesites */
        height: 50px;
        margin: 30px;
    }
    
    /* Estilo para las opciones del combo box */
    select option {
        background-color: #d9d9d9; /* Fondo blanco */
        color: #383737; /* Texto color #383737 */
        font-size: 16px; /* Tamaño de fuente */
    }
    
    #limpiarFiltros,
    #limpiarFiltros2,
    #limpiarFiltros3 {
        background-color: white;
        color: #383737;
        font-size: 1.5em;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        text-decoration: underline;
    }


.buttons-container2 {
    

    width: 100%; /* Ocupa todo el ancho disponible */
    margin-bottom: 0px;
}

.button {
    color: #383737;
    padding: 10px 10px;
    font-size: 2em;
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 20px 20px 0 0; /* Solo los bordes superiores redondeados */
    cursor: pointer;
    background-color: white; /* Color de fondo inactivo */
    text-decoration: none; /* Quita el subrayado predeterminado de los enlaces */
    display: inline-block; /* Para que los enlaces se comporten como bloques */
    text-align: center; /* Centra el texto dentro del botón */
    text-decoration: underline; /* Subraya el texto */
}

.button.active {
    background-color: #d9d9d9; /* Color de fondo activo */
    color: #383737;
    text-decoration: none; /* Desactiva el subrayado cuando el botón está activo */
}
  
  .button:hover {
    background-color: #989898; /* Cambia el color de fondo al hacer hover */
  }

/* estilos checkbox*/
  /* Estilos originales de las casillas de verificación */
  .fondocheckbox {
    background-color: #d9d9d9;
    display: flex;
  }

  .checkbox-wrapper {
    margin-left: 50px;
    margin-top: 10px;
  }

  .checkbox-wrapper input[type="checkbox"] {
    display: none;
  }

  .checkbox-wrapper .terms-label {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .checkbox-wrapper .terms-label .label-text {
    margin-left: 10px;
    font-size: 1.5em;
  }

  .checkbox-wrapper .checkbox-svg {
    width: 30px;
    height: 30px;
  }

  .checkbox-wrapper .checkbox-box {
    fill: white;
    stroke: #383737;
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    transition: stroke-dashoffset 0.6s ease-in;
  }

  .checkbox-wrapper .checkbox-tick {
    stroke: #383737;
    stroke-dasharray: 172;
    stroke-dashoffset: 172;
    transition: stroke-dashoffset 0.6s ease-in;
  }

  .checkbox-wrapper input[type="checkbox"]:checked + .terms-label .checkbox-box,
  .checkbox-wrapper input[type="checkbox"]:checked + .terms-label .checkbox-tick {
    stroke-dashoffset: 0;
  }

  .titulo-tabla {
    font-size: 2.5em;
    background-color: #d9d9d9;   
    text-align: center;
    color: #383737;
    margin: 0 auto; /* Centra el texto horizontalmente */
}
.titulo-tabla2 {
    font-size: 4em;  
    text-align: left;
    color: #383737;
    font-weight: bold;
   margin-left: 30px;
}

.seleccion {
    font-size: 4em;
    font-weight: bold;
    color: #383737;
    margin-top: 10px;
    margin-left: 30px;
  }

  .subseleccion {
    font-size: 4em;
    color: #383737;
    margin-top: 10px;
  }
