body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #d9d9d9;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.logo {
    width: 15%;
}

.title {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    color: #383737;
    margin: 0 auto; /* Centra el texto horizontalmente */
}

.buttons-container {
    display: flex !important;
    justify-content: space-between !important; /* Distribuir los botones uniformemente */
    width: 100% !important;
    margin-bottom: 30px !important;
}

.buttons {
    color: #383737 !important;
    padding: 10px 20px !important;
    font-size: 2em !important;
    border: none !important;
    width: 250px !important;
    height: 60px !important;
    border-radius: 20px !important;
    cursor: pointer !important;
    background-color: #d9d9d9 !important;
    text-decoration: none !important;
    text-align: center !important;
    line-height: 60px !important;
}

.buttons.active {
    background-color: #383737 !important;
    color: white !important;
}

.buttons:hover {
    background-color: #989898 !important;
    color: white !important; /* Cambia el color del texto al hacer hover */
}

  

.logout-container {
    display: flex !important;
    justify-content: flex-end !important;
    width: 100% !important;
}

.logout-buttons {
    background-color: #d9d9d9 !important;
    color: #383737 !important;
    font-size: 1.5em !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 10px 20px !important;
    cursor: pointer !important;
    text-decoration: underline !important; /* Subraya el texto */
}


/*  Estilos tab Inicio */
.titulotab {
    font-size: 4em !important;   
    text-align: left !important;
    color: #383737 !important;
    margin-left: 30px !important;
    margin-top: 30px !important;
    /* margin: 0 auto; Centra el texto horizontalmente */
}


  
