<!-- tu_plantilla.html -->
{% include 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte por Secretaría y Dependencia</title>
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    
</head>
<body>
    {% if secretaria %}
    <h1>Reporte por Dependencia</h1>
    {% else %}
    <h1>Reporte por Secretaría</h1>
    {% endif %}

    <form method="GET" action="{% url 'principal' %}">
        <div class="inline-container">
        <label for="secretaria">Selecciona una Secretaría:</label>
        <select name="secretaria" id="secretaria">
            <option value="" {% if not selected_secretaria %} selected {% endif %}>Todas</option>
            {% for secretaria in secretarias %}
                <option value="{{ secretaria.id }}" {% if secretaria.id == selected_secretaria %} selected {% endif %}>{{ secretaria.nombre_secretaria }}</option>
            {% endfor %}
        </select>
        <label for="year">Seleccionar Año:</label>
            <input type="text" class="form-control" id="year" name="year" autocomplete="off">


        <input type="submit" value="Filtrar">
    </div>
    </form>
    <div class="tabla-reporte">
    <table border="1">
        <thead>
            <tr>
                <th>Secretaría</th>
                <th>Dependencia</th>
                <th>Conmutadores</th>
                <th>Energías</th>
                <th>Asignaciones</th>
                <th>Equipos Personales</th>
                <th>Equipos Servidores</th>
                <th>Impresoras</th>
                <th>Proyectores</th>
                <th>Enlaces</th>
                <th>Sitios</th>
                <th>Drones</th>
                <th>Firewalls</th>
                <th>Routers</th>
            </tr>
        </thead>
        <tbody>
            {% for datos in datos_por_secretaria %}
                <tr>
                    <td>{{ datos.nombre_secretaria }}</td>
                    <td>{{ datos.nombre_dependencia }}</td>
                    <td>{{ datos.num_conmutadores|default:"0" }}</td>
                    <td>{{ datos.num_energias|default:"0" }}</td>
                    <td>{{ datos.num_asignaciones|default:"0" }}</td>
                    <td>{{ datos.num_equipos_personales|default:"0" }}</td>
                    <td>{{ datos.num_equipos_servidores|default:"0" }}</td>
                    <td>{{ datos.num_impresoras|default:"0" }}</td>
                    <td>{{ datos.num_proyectores|default:"0" }}</td>
                    <td>{{ datos.num_enlaces|default:"0" }}</td>
                    <td>{{ datos.num_sitios|default:"0" }}</td>
                    <td>{{ datos.num_drones|default:"0" }}</td>
                    <td>{{ datos.num_firewalls|default:"0" }}</td>
                    <td>{{ datos.num_routers|default:"0" }}</td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
</div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script>
    $(document).ready(function() {
        $('#year').datepicker({
            format: "yyyy",
            startView: "years",
            minViewMode: "years",
            autoclose: true
        });
    });
</script>